.container {
  width: 1250px;

  @media screen and (max-width: 600px) {
    max-width: 100%;
  }

  background-color: #eee;
  margin: 8px auto;

  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
}

.item {
  padding: 20px;
  color: white;

  &-1 {
    background-color: darkgrey;
    // grid-row-start: 2;
    // grid-row-end: 3;
    // grid-column-start: 2;
    // grid-column-end: 3;
    grid-row: 2/3;
    grid-column: 3/4;
  }
  &-2 {
    background-color: red;
    grid-row: 2/3;
    grid-column: 1/2;
  }
  &-3 {
    background-color: green;
    grid-row: 2/3;
    grid-column: 2/3;

  }
  &-4 {
    background-color: yellow;
    grid-row: 1/2;
    grid-column: 3/4;
  }
  &-5 {
    background-color: lightblue;
    grid-row: 1/2;
    grid-column: 2/3;
  }
  &-6 {
    background-color: brown;
  }
}
